@model ListViewModels.Index
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Common

@{
    ViewData["Title"] = "Game List";
}

<h1>Game List</h1>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.Search)
        @Html.TextBoxFor(model => model.Search)
    </div>
}


<div>
    @Html.PagedListPager(Model.Games, page => Url.Action("Index", new { page = page, sort = Model.Sort, desc = Model.Desc }),
        new PagedListRenderOptions
        {
            FunctionToDisplayEachPageNumber = page => ((page - 1) * Model.PageSize + 1).ToString() + "-" + (((page - 1) * Model.PageSize) + Model.PageSize).ToString(),
            MaximumPageNumbersToDisplay = 5,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
</div>
<div class="small text-muted">
    Viewing page @Model.Page of @Model.TotalPages (@Model.TotalCount items total)
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-action="Index" asp-route-sort="name" asp-route-desc='@(Model.Sort == "name" ? !Model.Desc : Model.Desc)'>Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="store" asp-route-desc='@(Model.Sort == "store" ? !Model.Desc : Model.Desc)'>Store</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="price" asp-route-desc='@(Model.Sort == "price" ? !Model.Desc : Model.Desc)'>Current Price</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.Games)
        {
        <tr>
            <td class="text-center">
                @if (game.Image != null)
                {
                    <a href="@game.Url" target="_blank">
                        <img src="@game.Image" style="max-height: 75px" />
                    </a>
                }
            </td>
            <td><a href="@game.Url" target="_blank">@game.Name</a></td>
            <td style="white-space: nowrap">@game.Store</td>
            <td style="white-space: nowrap">@string.Format("{0:c}",game.Price)</td>
        </tr>
        }
    </tbody>
</table>
<div class="small text-muted">
    Viewing page @Model.Page of @Model.TotalPages (@Model.TotalCount items total)
</div>
<div>
    @Html.PagedListPager(Model.Games, page => Url.Action("Index", new { page = page, sort = Model.Sort, desc = Model.Desc }),
        new PagedListRenderOptions
        {
            FunctionToDisplayEachPageNumber = page => ((page - 1) * Model.PageSize + 1).ToString() + "-" + (((page - 1) * Model.PageSize) + Model.PageSize).ToString(),
            MaximumPageNumbersToDisplay = 5,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
</div>